<template>
    <div>
        <pre>{{ message }}</pre>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                message: "Hello world!"
            }
        },
        mounted: function () {
        },
        methods: {
        },
        watch: {
        }
    }
</script>
